h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

div[th:if="${rating}"] {
  margin-bottom: 10px;
}

p {
  margin-bottom: 5px;
}

video {
  margin-bottom: 10px;
}

form {
  margin-bottom: 10px;
}

input[type="submit"],
button[type="submit"] {
  padding: 8px 16px;
  background-color: #3FA089;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  background-color: #368471;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100px;
}

td {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

tr:last-child td {
  border-bottom: none;
}

.error {
  color: red;
  font-weight: bold;
}

.commentary {
  margin-bottom: 10px;
}

.commentary p {
  font-weight: bold;
}

.commentary td {
  vertical-align: top;
}

.commentary br {
  display: none;
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  max-width: 500px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
}

.form-container input[type="submit"] {
  padding: 8px 16px;
  background-color: #3FA089;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.form-container input[type="submit"]:hover {
  background-color: #368471;
}

.commentary-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.cour{
    margin: 30px;
}

.description-container {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

