<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/my_published_course.css}" />
</head>
<header class="admin-header">
    <h1>CodeMaster</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/signin">SignIn</a>
        <a href="/login">Login</a>
        <a href="/cart">Cart</a>
    </nav>
</header>

<style>
.admin-header {
    background-color: #E35151;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
</style>
<body>

<div th:if="${error}" class="inf" style="color: red; text-align: center;">
    <p>Error: [[${errorMessage}]]</p>
</div>


<h2 style="text-align: center;">Accept application page</h2>

<div class="table-container">
    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr th:each="course : ${courses}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.title}"></td>
            <td th:text="${course.description}"></td>
            <td th:text="${course.price}"></td>
            <td>
                <form th:action="@{accept_application}" method="post">
                    <input type="hidden" name="courseId" th:value="${course.id}" />
                    <button type="submit">Accept</button>
                </form>
            </td>
        </tr>
    </table>
</div>

</body>
</html>