<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Title</title>
</head>
<body>

<table>
    <form th:action="@{/updateCourse}" method="post">
        <input type="hidden" name="courseId" th:value="${courseId}" />
        <h2>Title</h2>
        <div><label><input type="text" name="title"/></label></div>
        <h2>Description</h2>
        <textarea name="description" rows="10" cols="25" th:text="${description}"></textarea>
        <h2>Price</h2>
        <div><label><input type="number" name="price"/></label></div>
        <div><input type="submit" value="Save changes"/></div>
    </form>
</table>

<div th:if="${isAdded}">
    Course save successfully
</div>
<div th:if="${error}">
    <p>Error: [[${errorMessage}]]</p>
</div>

</body>
</html>