<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Title</title>
</head>
<body>

<form th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="courseId" th:value="${param.courseId}" />
    <input type="file" name="file" />
    <input type="submit" value="Upload" />
</form>

<div th:if="${successfully}">
    Archive added successfully
</div>
<div th:if="${error}">
    <p>Error: [[${errorMessage}]]</p>
</div>

</body>
</html>